/*  header */
.header_child {
	height: 150px;
	margin: 10px auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header_child h3 {
	margin: 10px auto;
	color: #de1f26;
	font-weight: 600;
	font-style: italic;
}

.header_child img {
	aspect-ratio: 2/1;
	margin: 10px auto;
}

.form-group {
	width: 600px;
}

/* nav */

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* products */

.description-body {
	display: flex;
	flex-direction: column;
}

.description-body h1 {
	color: #0ec0c3;
	align-self: center;
}

.description-body p {
	font-size: 18px;
	align-self: center;
}

/* images box */

.images_box {
	height: auto;
}

.section_1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_2 {
	padding-top: 100px;
	display: block;
}

/* best seller */

.best_seller-title {
	display: block;
	z-index: 10;
	color: #0ec0c3;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.best_seller-description h3 {
	color: #f79646;
}

.best_seller-description p {
	font-size: 18px;
}

/* order */

.order {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.order-title {
	color: #0ec0c3;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	width: 100%;
}

/* footer */

.footer {
	background-color: #0ec0c3;
}

.texts {
	margin: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.texts p,
.texts h5 {
	margin: 0;
}

/* mobile responsive */

@media (max-width: 412px) {
	/* * */
	img {
		width: 100%;
	}
	h1 {
		text-align: center;
	}

	p {
		padding: auto 10px;
		margin: auto 10px;
		text-align: justify;
		font-size: 28px;
	}

	/* header */

	.header {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.header_child {
		width: 100%;
		height: auto;
	}

	/* nav bar */
	nav {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.navbar-header {
		width: 100vw;
		align-self: center;
		justify-self: center;
	}

	/* images */

	.section_2 {
		padding: 0;
	}

	/* best seller */
	.best_seller {
		padding-top: 20px;
	}

	/* footer */
	.texts p {
		text-align: center;
		font-size: 14px;
	}
}
